@import '~bootstrap/dist/css/bootstrap.min.css';
.header {
  color: #FF6347;
  padding-top: 16px;
}
.m-24 {
  margin: 24px;
}
.info-msg {
  color: #737373;
}
.btn-adjust {
  max-height: 45px;
  padding: 0 26px;
  margin-top: 32px;
}
table thead tr{
  background: rgb(0, 85, 167);
  background: linear-gradient(90deg, rgba(0, 85, 167, 1) 0%, rgba(0, 152, 223, 2) 100%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: 40px;
  th {
    color: #fff;
    font-style: italic;

  }
}
table tbody tr td {
  color: #4c4c4c;
  text-transform: capitalize !important;
}
.m-t-60 {
  margin-top: 60px;
}
.f-bold {
  font-weight: bold;
}
.student-header {
  font-style: normal !important;
  font-weight: bold;
  text-align: left !important;
}
